

<div id="hexagram" class="col-xs-4 col-xs-offset-2">
	<div id="hexagramLine-6" class="line"></div>
	<div id="hexagramLine-5" class="line"></div>
	<div id="hexagramLine-4" class="line"></div>
	<div id="hexagramLine-3" class="line"></div>
	<div id="hexagramLine-2" class="line"></div>
	<div id="hexagramLine-1" class="line"></div>
	<div class="info">
		<div><a href="" name="kingWenNow" target=""></a></div>
		<!--<div>Fu Xi: <span name="fuXiNow"></span></div>-->
	</div>

</div>

<div id="futureHexagram" class="col-xs-4">
	<div id="futureHexagramLine-6" class="line"></div>
	<div id="futureHexagramLine-5" class="line"></div>
	<div id="futureHexagramLine-4" class="line"></div>
	<div id="futureHexagramLine-3" class="line"></div>
	<div id="futureHexagramLine-2" class="line"></div>
	<div id="futureHexagramLine-1" class="line"></div>
	<div class="info">
		<div><a href="" name="kingWenFuture" target=""></a></div>
		<!-- <div>Fu Xi: <span name="fuXiFuture"></span></div> -->
	</div>
</div>
