<div id="HexagramBrowser">
	<div id="HexagramBrowser-Lines" class="">
		<div id="line6" data-line="6" class="line"></div>
		<div id="line5" data-line="5" class="line"></div>
		<div id="line4" data-line="4" class="line"></div>
		<div id="line3" data-line="3" class="line"></div>
		<div id="line2" data-line="2" class="line"></div>
		<div id="line1" data-line="1" class="line"></div>
	</div>
	
<!--
	<div id="searchField" class="col-xs-6 col-xs-offset-3" style="line-height:20px; border: 1px solid gray; " contentEditable="true"></div>
-->
	<div id="searchField" style="width:400px; border:1px solid #ccc; margin:0px auto;" contentEditable="true"></div>	
	<div><button id="previous">Previous</button><div>
	<div><button id="next">Next</button><div>

	<div id="description" style="display:block; clear:both; margin-top:50px;">{{{description}}}</div>

	<h2>The Judgement</h2>
	<div id="judgement" style="display:block; clear:both; margin-top:50px;">{{{judgement}}}</div>
	
	<h2>The Image</h2>
	<div id="image" style="display:block; clear:both; margin-top:50px;">
		{{{image}}}
	</div>

	<h2>Lines</h2>
	<h3>{{{line1Number}}} in the beginning means:</h3>
	<div name="lines">{{{line1}}}</div>	

	<h3>{{{line2Number}}} in the second place means:</h3>
	<div name="lines">{{{line2}}}</div>

	<h3>{{{line3Number}}} in the third place means:</h3>
	<div name="lines">{{{line3}}}</div>

	<h3>{{{line4Number}}} in the fourth place means:</h3>
	<div name="lines">{{{line4}}}</div>

	<h3>{{{line5Number}}} in the fifth place means:</h3>
	<div name="lines">{{{line5}}}</div>

	<h3>{{{line6Number}}} at the top means:</h3>
	<div name="lines">{{{line6}}}</div>
	


</div>