<div id="HexagramBrowser">
	<div id="HexagramBrowser-Lines" class="">
		<div id="line6" data-line="6" class="line"></div>
		<div id="line5" data-line="5" class="line"></div>
		<div id="line4" data-line="4" class="line"></div>
		<div id="line3" data-line="3" class="line"></div>
		<div id="line2" data-line="2" class="line"></div>
		<div id="line1" data-line="1" class="line"></div>
	</div>
	<div id="searchField" class="col-xs-6 col-xs-offset-3" style="line-height:20px; border: 1px solid gray; " contentEditable="true"></div>
</div>