<span class="hexagram">{{{html}}}</span>

<div style="" class="titlerow">
<span id="numberField" class="number" contentEditable="true">{{id}}</span>. <span class="name"> {{nameMan}} - {{nameEng}}</span>
</div>

<div id="above" style="margin-top:20px;">

</div>
<div id="below">

</div>
<div style="margin-top:30px; color:#8A8888">
	Fu Xi (binary): {{fuxi}} 
</div>

<div name="description" style="margin-top:10px;">{{{description}}}</div>	

<h2>The Judgement</h2>
<div name="judgement">{{{judgement}}}</div>	

<h2>The Image</h2>
<div name="image">{{{image}}}</div>	


<h2>Lines</h2>
<h3>{{{line1Number}}} in the beginning means:</h3>
<div name="lines">{{{line1}}}</div>	

<h3>{{{line2Number}}} in the second place means:</h3>
<div name="lines">{{{line2}}}</div>

<h3>{{{line3Number}}} in the third place means:</h3>
<div name="lines">{{{line3}}}</div>

<h3>{{{line4Number}}} in the fourth place means:</h3>
<div name="lines">{{{line4}}}</div>

<h3>{{{line5Number}}} in the fifth place means:</h3>
<div name="lines">{{{line5}}}</div>

<h3>{{{line6Number}}} at the top means:</h3>
<div name="lines">{{{line6}}}</div>
